mkl-service==2.4.0
mutagen==1.47.0
protobuf==3.20.3
pyarrow==11.0.0
pycryptodomex==3.20.0
setuptools==68.2.2
streamlit==1.31.0
streamlit-player==0.1.5
websockets==12.0
wheel==0.41.2
yt-dlp==2023.12.30
